{% extends "users_master.html.j2" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <h1>Sign Up</h1>
    <form action="entry/" method="post">
    {%csrf_token%}
        <label for="username">Username</label>
        <input type="text" name="username" id="username"><br>

        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>

        <label for="passwd">Password</label>
        <input type="password" name="passwd" id="passwd"><br>
        <label for="passwd">Repeat Password</label>
        <input type="password" name="passwd" id="passwd"><br>
        <br>
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" class="keyInput">
        <input type="submit" value="Submit">
    </form>
{% endblock %}